// ---------- COLORS ----------

//Primary
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

//Secondary
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

//Tertiary
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

//Grey
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;
$color-grey-dark-2: #333;

//Placeholder & Forms

$color-placeholder-text: #999;

//Standalone
$color-white: #fff;
$color-black: #000;

// ---------------------------------------------------------------------------------

// FONT SIZES

$default-font-size: 1.6rem;

// ---------------------------------------------------------------------------------

// SHADOWS

$shadow-1: 0 1.5rem 4rem rgba($color-black, .15);

// ---------------------------------------------------------------------------------

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// BORDER RADII

$border-radius-normal: 3px;

// GENERIC GRID LAYOUT FOR CONTENT
$grid-columns-content: repeat(auto-fit, minmax(25rem, 1fr)); //if it's small it will be 25rem min, otherwise 1fr